#tbox_container 
{
	background: #ffffff;
}

body {
	background-color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}
#bodycontainer{
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}
#bodycontainer .swf {
	height: 100%;
}
#footer{
	width: 1000px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
#footer #cinemax_logo {
	float: right;
	width:105px;
	height: 40px; 
}
#footer #leftPanel {
	float: left;
	width: 820px;
}
#footer #footer_copyright{
	position: relative;
	top: -7px;
}


/***** SPACING STYLES ****/
.left_margin_20px {
	margin-left: 20px;
}